{% extends "master.html" %}

{% block title %}
Setores
{% endblock %}

{% block content %}

<div class="container">
    <label for="txtNomeArea">Nova área</label>
    <div class="row">
        <div class="col-sm-11">
            <input type="text" placeholder="Informe o nome da área" class="form-control upper" id="txtNomeArea">
        </div>
        <div class="col-sm-1 item-centro">
            <button type="button" class="btn btn-default form-control" onclick="Inserir()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> </button>
        </div>
    </div>
</div>
<div class="container">
    <label>Listagem de Áreas</label>
    <div class="row">
        <div class="col-sm-10">
            <input id="txtNomeAreaPesquisar" type="text" class="form-control w-100"
                placeholder="Informe uma área">
        </div>
        <div class="col-sm-1 item-centro">
            <button class="btn btn-default form-control" onclick="Pesquisar()"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
        </div>
        <div class="col-sm-1 item-centro">
            <button class="btn btn-default form-control" onclick="location.reload()"><i class="fa fa-refresh"
                    aria-hidden="true"></i></button>
        </div>
        <div class="col-sm-12">
            <table class="table tabela-customizada" id="tabela_areas">
                <thead>
                    <tr align="left">
                        <th>#</th>
                        <th>Área</th>
                        <th>Nº Cargos</th>
                        <th>Nº servidores</th>
                        <th>Data cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tabela_dados">
                    {% for area in areas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ area.nome }}</td>
                        <td>{{ area.num_cargos }}</td>
                        <td>{{ area.num_servidores }}</td>
                        <td>{{ area.data_cadastro|date:"d/m/Y H:i" }}</td>
                        <td align="center">
                            <button class="btn btn-default" data-id="{{ area.id }}"
                                onclick="abrir('modalEditarArea'); Obter(this.dataset.id); setarDataId('btnEditar',this.dataset.id)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-error" data-id="{{ area.id }}"
                                onclick="abrir('modalExcluirArea'); setarDataId('btnExcluir', this.dataset.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modalEditarArea" class="modal" tabindex="-1">
    <div class="modal-header">
        <h2 id="modalTitulo" class="modal-title">Editar Área</h2>
        <button class="modal-close-btn" aria-label="Fechar Modal" id="fecharModalBtn"
            onclick="fechar('modalEditarArea')">&times;</button>
    </div>
    <div class="modal-body">
        <label for="txtNomeAreaEditar">Nome da área</label>
        <input type="text" id="txtNomeAreaEditar" class="form-control">
    </div>
    <div class="modal-footer">
        <button class="btn btn-default modal-fechar" onclick="fechar('modalEditarArea')">Cancelar</button>
        <button class="btn btn-success" id="btnEditar" onclick="Editar(this.dataset.id)"><i
                class="fa fa-pencil-square-o" aria-hidden="true"></i> Confirmar</button>
    </div>
</div>
<div id="modalEditarAreaBackdrop" class="modal-backdrop"></div>

<div id="modalExcluirArea" class="modal" tabindex="-1">
    <div class="modal-header">
        <h2 id="modalTitulo" class="modal-title">Excluir Carreira</h2>
        <button class="modal-close-btn" aria-label="Fechar Modal" id="fecharModalBtn"
            onclick="fechar('modalExcluirArea')">&times;</button>
    </div>
    <div class="modal-body">
        <p>Deseja realmente excluir?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default modal-fechar" onclick="fechar('modalExcluirArea')">Cancelar</button>
        <button class="btn btn-error" id="btnExcluir" onclick="Excluir(this.dataset.id)">
            <i class="fa fa-trash"></i> Confirmar</button>
    </div>
</div>
<div id="modalExcluirAreaBackdrop" class="modal-backdrop"></div>


<script>
    async function Inserir() {

        const nomeArea = obterElemento('txtNomeArea');
        const campos = [nomeArea];

        if (algumCampoVazio(campos)) {
            alert('Por favor, preencha todos os campos.');
            return;
        }
        const formData = new FormData()
        formData.append('nome', nomeArea.value.toUpperCase());

        const resposta = await InserirDados(`/areas/adicionar/`, formData);

    }
    async function Obter(id_area) {

        const resposta = await ObterDados(`/areas/obter/${id_area}/`);

        if (resposta.dados) {
            setarValor('txtNomeAreaEditar', resposta.dados.nome);
        }
    }
    async function Editar(id_area) {

        const nomeArea = obterElemento('txtNomeAreaEditar');
        const campos = [nomeArea];

        if (algumCampoVazio(campos)) {
            alert('Por favor, preencha todos os campos.');
            return;
        }

        const formData = new FormData()
        formData.append('nome', nomeArea.value.toUpperCase());
        const resposta = await EditarDados(`/areas/editar/${id_area}/`, formData)
    }
    async function Excluir(id_area) {
        const resposta = await ExcluirDados(`/areas/excluir/${id_area}/`)
    }
    async function Pesquisar() {

        const txtNomeAreaPesquisar = obterElemento('txtNomeAreaPesquisar');
        const nomeArea = encodeURIComponent(txtNomeAreaPesquisar.value.trim());

        const url = `/areas/pesquisar/?nome=${nomeArea}`;
        const resultado = await PesquisarDados(url);
        let linha = '';

        if (resultado.dados) {
            resultado.dados.forEach((area, index) => {
                linha += `
                <tr>
                    <td>${index + 1}</td>
                    <td>${area.nome}</td>
                    <td>${area.num_cargos}</td>
                    <td>${area.num_servidores}</td>
                    <td>${formatarDataHora(area.data_cadastro)}</td>
                    <td align="center">
                        <button class="btn btn-default" data-id="${area.id}"
                        onclick="abrir('modalEditarArea'); Obter(this.dataset.id); setarDataId('btnEditar', this.dataset.id)">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-error" data-id="${area.id}"
                        onclick="abrir('modalExcluirArea'); setarDataId('btnExcluir', this.dataset.id)">
                        <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>`;
            });
        } else {
            linha = '<tr><td colspan="6" align="center">Nenhum registro encontrado.</td></tr>';
        }
        setarHTML('tabela_dados', linha);
    }
</script>
{% endblock %}